* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.enlace {
  display: block;
  background-color: tomato;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
  border-bottom: solid 3px black;
  transition: 1s;
}
.enlace:link {
  background-color: blue;
  color: black;
}
.enlace:visited {
  background-color: green;
}
.enlace:hover {
  background-color: pink;
}
