@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Edu AU VIC WA NT Guides";
  font-size: 40px;
}
p {
  font-size: 40px;
  color: chartreuse;
  text-align: center;
  text-shadow: 1px 1px 5px black;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.5;
}
a {
  text-decoration: none;
  font-size: 60px;
  color: blueviolet;
  cursor: all-scroll;
  background-color: aquamarine;
}
